*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #303030;
   font-family: 'Roboto', sans-serif;
}

.avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img,
.chat-avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.chat-header-right img {
    width: 20px;
    height: 20px;
    margin: 5px 13px;
    opacity: 0.4;
}

body {
    display: flex;
    overflow: hidden;
}

.sidebar {
    flex: 5.17;
}

.header {
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    padding: 8px 15px;
}

.sidebar-search-container {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100;
    height: 35px;
    border-radius: 20px;
}

.sidebar-search-container img {
    width: 15px;
    height: 15px;
    margin: 0 15px;
    opacity: 0.4;
}

.sidebar-search-container input {
    border: none;
    outline: none;
    margin-left: 20px;
}

.chat-avatar {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

/*  MESSAGE CONTENT */

.message-container {
    flex: 12;
}

.chat-title {
    display: flex;
    align-items: center;
}

.message-header-content {
    margin-left: 15px;
}

h4 {
    font-weight: 400;
}

.message-header-content p {
    font-size: 13px;
    color: gray;
}

